<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.taggerplugin.Category"
            name="%tagger.category"/>
      <view
            allowMultiple="false"
            category="net.sourceforge.taggerplugin.Category"
            class="net.sourceforge.taggerplugin.view.TagView"
            icon="icons/tagger_logo_16x16.gif"
            id="net.sourceforge.taggerplugin.TagView"
            name="%tagger.TagsView.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.sourceforge.taggerplugin.TagViewActions"
            targetID="net.sourceforge.taggerplugin.TagView">
         <action
               class="net.sourceforge.taggerplugin.action.DeleteTagAction"
               helpContextId="net.sourceforge.taggerplugin.help.DeleteTagAction"
               icon="icons/delete.gif"
               id="net.sourceforge.taggerplugin.action.DeleteTagAction"
               label="%tagger.actions.DeleteTag.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.actions.DeleteTag.tooltip">
         </action>
         <action
               class="net.sourceforge.taggerplugin.action.NewTagAction"
               icon="icons/plus.gif"
               id="net.sourceforge.taggerplugin.action.NewTagAction"
               label="%tagger.actions.NewTag.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.actions.NewTag.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.ModifyTagAction"
               icon="icons/modify.gif"
               id="net.sourceforge.taggerplugin.action.ModifyTagAction"
               label="%tagger.actions.ModifyTag.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.actions.ModifyTag.tooltip">
         </action>
         <action
               class="net.sourceforge.taggerplugin.action.CreateWorkingSetFromTagsAction"
               icon="icons/workset.gif"
               id="net.sourceforge.taggerplugin.action.CreateWorkingSet"
               label="%tagger.actions.CreateWsFromTag.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.actions.CreateWsFromTag.tooltip"/>
      </viewContribution>
      <viewContribution
            id="net.sourceforge.taggerplugin.NavigatorViewActions"
            targetID="org.eclipse.ui.views.ResourceNavigator">
         <action
               class="net.sourceforge.taggerplugin.action.FilterUsingTagsAction"
               icon="icons/tagger_filter.gif"
               id="net.sourceforge.taggerplugin.action.FilterUsingTagsAction_Navigator"
               label="%tagger.actions.FilterTags.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.actions.FilterTags.tooltip"/>
      </viewContribution>
      <viewContribution
            id="net.sourceforge.taggerplugin.ExplorerViewActions"
            targetID="org.eclipse.ui.navigator.ProjectExplorer">
         <action
               class="net.sourceforge.taggerplugin.action.FilterUsingTagsAction"
               icon="icons/tagger_filter.gif"
               id="net.sourceforge.taggerplugin.action.FilterUsingTagsAction_Explorer"
               label="%tagger.actions.FilterTags.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.actions.FilterTags.tooltip"/>
      </viewContribution>
      <viewContribution
            id="net.sourceforge.taggerplugin.SearchViewActions"
            targetID="org.eclipse.search.ui.views.SearchView">
         <action
               class="net.sourceforge.taggerplugin.action.CreateWorkingSetFromResultsAction"
               icon="icons/workset.gif"
               id="net.sourceforge.taggerplugin.action.CreateWorkingSet_Results"
               label="%tagger.actions.CreateWsFromResults.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.actions.CreateWsFromResults.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.OpenAllResultsAction"
               icon="icons/openall.gif"
               id="net.sourceforge.taggerplugin.action.OpenAllResults"
               label="%tagger.actions.OpenAllResults.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.actions.OpenAllResults.tooltip"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="net.sourceforge.taggerplugin.resource.TaggableAdapterFactory">
         <adapter type="net.sourceforge.taggerplugin.resource.ITaggable"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IMarker"
            class="net.sourceforge.taggerplugin.resource.TaggedMarkerAdapterFactory">
         <adapter type="net.sourceforge.taggerplugin.resource.ITaggedMarker"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="net.sourceforge.taggerplugin.ContextMenuPopup"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="net.sourceforge.taggerplugin.ContextMenu"
               label="%tagger.ContextMenu.label"
               path="additions">
            <separator name="additions"/>
            <groupMarker name="tags"/>
         </menu>
         <action
               class="net.sourceforge.taggerplugin.action.ClearTagAssociationsAction"
               enablesFor="+"
               icon="icons/trash.gif"
               id="net.sourceforge.taggerplugin.action.ClearTagAssociations"
               label="%tagger.actions.ClearTagAssociation.label"
               menubarPath="net.sourceforge.taggerplugin.ContextMenu/tags"
               tooltip="%tagger.actions.ClearTagAssociation.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.RemoveTagAssociationAction"
               enablesFor="+"
               icon="icons/delete.gif"
               id="net.sourceforge.taggerplugin.action.RemoveTagAssociation"
               label="%tagger.actions.RemoveTagAssociation.label"
               menubarPath="net.sourceforge.taggerplugin.ContextMenu/tags"
               tooltip="%tagger.actions.RemoveTagAssociation.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.AddTagAssociationAction"
               enablesFor="+"
               helpContextId="net.sourceforge.taggerplugin.help.AddTagAssociation"
               icon="icons/plus.gif"
               id="net.sourceforge.taggerplugin.action.AddTagAssociation"
               label="%tagger.actions.AddTagAssociation.label"
               menubarPath="net.sourceforge.taggerplugin.ContextMenu/tags"
               tooltip="%tagger.actions.AddTagAssociation.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.AddNewTagAssociationAction"
               enablesFor="+"
               icon="icons/tagger_addnew.gif"
               id="net.sourceforge.taggerplugin.action.AddTagAssociation"
               label="%tagger.actions.NewTagAssociation.label"
               menubarPath="net.sourceforge.taggerplugin.ContextMenu/tags"
               tooltip="%tagger.actions.NewTagAssociation.tooltip"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="net.sourceforge.taggerplugin.ui.TaggedLabelDecorator"
            id="net.sourceforge.taggerplugin.TaggedDecorator"
            label="%tagger.Decorator.label"
            lightweight="true"
            location="TOP_RIGHT"
            objectClass="org.eclipse.core.resources.IResource"
            state="true"/>
   </extension>
   <extension
         id="com.sourceforge.taggerplugin.tagged"
         name="Tagged Resource Marker"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.marker"/>
      <attribute name="resourceId"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="net.sourceforge.taggerplugin.ui.TaggableResourcePropertyPage"
            icon="icons/tagger_logo_16x16.gif"
            id="net.sourceforge.taggerplugin.TaggedResourceProperties"
            name="%tagger.Properties.name"
            objectClass="org.eclipse.core.resources.IResource"/>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="net.sourceforge.taggerplugin.search.TagSearchPage"
            enabled="true"
            extensions="*"
            icon="icons/tagger_logo_16x16.gif"
            id="net.sourceforge.taggerplugin.TagSearchPage"
            label="%tagger.search.Page.label"
            showScopeSection="true"
            tabPosition="2"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="net.sourceforge.taggerplugin.search.TagSearchResultPage"
            icon="icons/tagger_logo_16x16.gif"
            id="net.sourceforge.taggerplugin.search.TagSearchResultPage"
            label="%tagger.search.Results.label"
            searchResultClass="net.sourceforge.taggerplugin.search.TagSearchResult"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="net.sourceforge.taggerplugin.TagExportCategory"
            class="net.sourceforge.taggerplugin.wizard.TagExportWizard"
            icon="icons/synced.gif"
            id="net.sourceforge.taggerplugin.wizard.TagSetExport"
            name="%tagger.wizards.Export.name"/>
      <category
            id="net.sourceforge.taggerplugin.TagExportCategory"
            name="%tagger.category"/>
      <wizard
            category="net.sourceforge.taggerplugin.TagExportCategory"
            class="net.sourceforge.taggerplugin.wizard.TagAssociationExportWizard"
            icon="icons/synced.gif"
            id="net.sourceforge.taggerplugin.wizard.TagAssociationExport"
            name="%tagger.wizards.AssocExport.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.sourceforge.taggerplugin.TagImportCategory"
            name="%tagger.category"/>
      <wizard
            category="net.sourceforge.taggerplugin.TagImportCategory"
            class="net.sourceforge.taggerplugin.wizard.TagImportWizard"
            icon="icons/synced.gif"
            id="net.sourceforge.taggerplugin.wizard.TagSetImport"
            name="%tagger.wizards.Import.name"/>
      <wizard
            category="net.sourceforge.taggerplugin.TagImportCategory"
            class="net.sourceforge.taggerplugin.wizard.TagAssociationImportWizard"
            icon="icons/synced.gif"
            id="net.sourceforge.taggerplugin.wizard.TagAssociationImport"
            name="%tagger.wizards.AssocImport.name"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc file="tocconcepts.xml"/>
      <toc file="tocreference.xml"/>
      <toc file="toctasks.xml"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexthelp.xml"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.taggerplugin.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.taggerplugin.preferences.TaggerPreferencePage"
            id="net.sourceforge.taggerplugin.preferences.TaggerPreferencePage"
            name="%tagger.Preferences.name"/>
   </extension>

</plugin>
